* {
  margin: auto;
  text-align: center;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: cadetblue;
}
h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;
  margin-bottom: 15px;
}
#header {
  color: blue;
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
  color: brown;
}
h3 {
  font-size: 1.8rem;
  color: rgb(6, 194, 19);
}

.footer-items {
  font-size: 1.4rem;
  margin: 15px;
  padding: 10px;
}
p {
  font-family: "Rubik", sans-serif;
  font-size: 1.2rem;
  width: 30%;
  color: wheat;
  line-height: 1.7;
  margin-bottom: 10px;
}
img {
  height: 400px;
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  opacity: 0.9;
}
ul {
  display: inline-block;
  text-align: center;
  text-decoration: none;
}
button {
  padding: 15px;
  color: white;
  border: 1px solid black;
  border-radius: 10px;
  background-color: transparent;
  margin-bottom: 10px;
  font-size: 1.5rem;
}

button:hover {
  background-color: black;
}

nav {
  margin-bottom: 10px;
  padding: 20px;
  font-size: 1.5rem;
}
input {
  margin-right: 20px;
  font-size: 1.5rem;
}

label {
  margin-right: 20px;
}
.nav-container ul li {
  text-decoration: none;
}

.float-right {
  float: right;
}

.float-right ul {
  list-style-type: none;
}

.float-right ul li {
  float: left;
}
.float-right ul li a {
  display: block;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  margin-left: 50px;
}
.float-left {
  float: left;
}
.nav-container nav {
  background-color: brown;
  display: block;
  height: 100px;
}

@media only screen and (max-width: 1024px) {
  body {
    background-color: rgb(230, 203, 173);
  }
  .nav-container label,
  input,
  button {
    display: block;
    margin: 50px auto;
  }

  .nav-container nav {
    height: 100%;
  }
  .float-right {
    float: none;
  }
  .float-left {
    float: none;
  }

  .float-right ul li {
    float: none;
  }

  .float-right ul {
    margin: auto;
  }
}
